name: pr

on:
  push:
    branches-ignore:
      - master


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - id: log
      run: echo "::set-output name=message::$(git log --no-merges -1 --oneline)"
    - name: Create PR
      uses: funivan/github-autopr@0.2.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        args: ${{ message }}
