name: pypi

on:
  pull_request:
    types: [closed]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: pypi release
        run: |
          sudo apt-get install -y python3 python3-pip python3-setuptools
          python3 -m pip install --user --upgrade setuptools wheel twine
          python3 setup.py sdist bdist_wheel
          twine upload dist/*
        env:
          TWINE_USERNAME: '__token__'
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
